/*.text-display {
    position: absolute;
    top:200px;
    left: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    writing-mode: lr-tb;   
}*/

.background-form {
    background-color: #333;
}

.gauge {
    position: absolute;
    top: 0mm;
    left: 40mm;
    z-index: -9999999;
}

.top-edge {
    position: absolute;
    top: 0mm;
    left: 35mm;
    z-index: -9999999;
    border-left: dotted 1px #FF0000;
    width: 1px;
    height: 400mm;
}

.bottom-edge {
    position: absolute;
    top: 0mm;
    left: 110mm;
    z-index: -9999999;
    border-left: dotted 1px #FF0000;
    width: 1px;
    height: 400mm;
}


/*https://www.thecssninja.com/css/real-text-rotation-with-css*/
.text-to-cast {
    position: absolute;
    top: 0px;
    left: 87px;
    z-index: 9999999;
}

.arse {  
    writing-mode: vertical-lr;
    padding-top: 30px;
    white-space: nowrap;
    font-size: 66mm;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000;
}

.brick {
    width:65mm;
    height:215mm;
    border: dotted 1px #000;
    margin-bottom: 10mm;
}


.mirror {
    display:block; 
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}

.tracking {
    letter-spacing: 0mm;
}